.hero-section2 {
  background: #f1f3ff;
  padding-top: 110px;
  position: relative;
  /* height: 1200px; */
}
.hero-content2 {
  padding: 90px 0px;
}
.hero-content2 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.hero-content2 p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  max-width: 75%;
  margin-bottom: 15px;
}
.hero-content2 a {
  background: #5cb85f;
  border-color: #5cb85f;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}
.hero-thumbnail2 {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
}
.hero-thumbnail2 img {
  width: 80%;
}

.box {
  box-shadow: 0px 0px 10px rgba(14, 13, 13, 0.15);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-top: -151px;
  z-index: 8;
  padding: 20px;
}

.loadgrid {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.cari a {
  align-items: center;
  margin-top: 36px;
}

label {
  margin-bottom: 15px;
}

.boxHasil {
  box-shadow: 0px 0px 10px rgba(14, 13, 13, 0.15);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 20px;
}

.boxMobil {
  position: relative;
  top: -50px;
}

.boxMobil h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 20px 0 10px 20px;
}

.boxMobil ul {
  list-style: disc;
}

.boxMobil li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
  padding-bottom: 15px;
  margin-left: 30px;
}

.boxMobil h4 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.icon-user {
  padding: 20px 0px;
}

.nominal {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}

.formbox {
  display: flex;
}

.formoption {
  padding: 10px;
}

.btn-back {
  background: #5cb85f;
  border-radius: 2px;
}

.btn-cari {
  margin: 48px 0px 0px 30px;
  background: #5cb85f;
  border-radius: 2px;
}

.data-allert {
  padding-top: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card-thumbnail {
  margin: 20px 8px;
}

.card-deskripsi h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 24px 8px;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 24px 8px;
}

.deskripsi {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 24px 8px;
}

.btn-pilih-mobil {
  background: #5cb85f;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .box {
    box-shadow: 0px 0px 10px rgb(14 13 13 / 15%);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-top: -50px;
    z-index: 8;
    padding: 20px;
  }

  .formbox {
    display: block;
  }

  .hero-thumbnail2 img {
    width: 100%;
  }

  .hero-thumbnail2 {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
  }

  .hero-section2 {
    background: #f1f3ff;
    position: relative;
  }
}

.btn-detail {
  margin: 40px 0px 40px 20px;
  background: #5cb85f;
  border-radius: 2px;
}
