.titleDashboard,
.titleCars {
  margin: 35px 0 19px 0;
  color: #8a8a8a;
}

.listDashboard,
.listCars {
  list-style: none;
}

.listNameDashboard,
.listNameCars {
  padding-top: 11px;
  padding-bottom: 11px;
  background: #cfd4ed;
  color: #151515;
}

.navPanelClass {
  width: 20.14%;
  min-width: 218px;
  max-width: 290px;
  padding-left: 70px;
  padding-top: 4.375rem;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.4286;
  font-weight: 700;
}

.navMenuClass {
  width: 70px;
  height: calc(100% - 4.375rem);
  background: #0d28a6;
  top: 4.375rem;
}

.navTitle {
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

.mainNavbar {
  height: 4.375rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.colNav {
  width: 20.14%;
  min-width: 218px;
  max-width: 290px;
}

.btnNavSideBar {
  min-width: 70px;
  border: none;
  border-radius: 0;
  background: #0d28a6;
}

.iconSideNav {
  width: 34px;
  height: 34px;
  background: #cfd4ed;
}

.spaceNavTop {
  min-width: 148px;
  max-width: 220px;
}
.iconTopNav {
  width: 100px;
  height: 34px;
  background: #cfd4ed;
}

.containerBurgerButton {
  max-width: 72px;
}

.btnBurgerButton {
  row-gap: 6px;
}

.burgerButton {
  width: 18px;
  height: 2px;
}

.btnNavbarSearch {
  color: #0d28a6;
  border-color: #0d28a6;
  background: #fff;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.4286;
  font-weight: 700;
  padding: 8px 12px;
}

.formNavbar {
  border-radius: 2px;
  border-color: #d0d0d0;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 9px 15px;
  padding-left: 38px;
}

.containerProfile {
  max-width: 11.875rem;
}

.ImageProfileNavbar {
  width: 38px;
  height: 38px;
  background: #cfd4ed;
}

.profileNavbar {
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.4286;
}

.iconSearch {
  position: absolute;
  top: 9px;
  left: 12px;
}
